/*----------------------------------------------------------------
GLOBAL 
---------------------------------------------------------------- */
* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img,
iframe,
video {
  max-width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/*----------------------------------------------------------------
STRUCTURE 
---------------------------------------------------------------- */

body {
  background-color: white;
}

.conteneur {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}



/*----------------------------------------------------------------
ENTETE
---------------------------------------------------------------- */




/*----------------------------------------------------------------
MENU
---------------------------------------------------------------- */





/*----------------------------------------------------------------
MAIN
---------------------------------------------------------------- */


.exerpt {
  cursor: pointer;
}




/*----------------------------------------------------------------
FOOTER
---------------------------------------------------------------- */